img {
  width: 100%;
  height: 100%;
}

h4 {
  margin: 0;
}

.container {
  padding: 10px;
}

.card {
  cursor: pointer;
  display: grid;
  gap: 0;
  grid-template-rows: 270px auto;
  grid-template-columns: 230px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
