:host {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(196, 193, 193);
}

.container {
  display: grid;
  grid-template-columns: 160px auto;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  background-color: white;
  padding: 10px;
  overflow: hidden;
}

h1 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

b {
  margin-top: 10px;
}

span {
  font-size: small;
}
